<%- include('./users/header.ejs') %>

<div class="intro-slider-container mb-0">
    <% if(body?.bannerImage !==undefined && body?.bannerImage.length > 0) { %>
        <% body?.bannerImage.forEach((banner, index)=> { %>
        <div class="intro-slider owl-carousel owl-theme owl-nav-inside owl-light" data-toggle="owl" data-owl-options='{"nav": false, "dots": false}'>
                <div class="intro-slide" style="background-image: url(<%= banner %>);">
                    <!-- <div class="container intro-content text-center">
                        <h3 class="intro-subtitle text-white">Don’t Miss</h3>
                        <h1 class="intro-title text-white">Mystery Deals</h1>
                        <div class="intro-text text-white">Online Only</div>
                    </div> -->
                </div>

            <!-- <div class="intro-slide" style="background-image: url(/images/demos/demo-5/slider/slide-2.jpg);">
                <div class="container intro-content text-center">
                    <h3 class="intro-subtitle text-white">Limited time only</h3>
                    <h1 class="intro-title text-white">Treat your self</h1>
                    <div class="intro-text text-white">Up to 50% off</div>
                </div>
            </div> -->
        </div>
    <% }); } %>

    <span class="slider-loader text-white"></span>
</div>

<div class="mb-4"></div>

<div class="container">
    <div class="heading heading-center mb-3">
        <h2 class="title">Trendy Products</h2>
    </div>

    <div class="tab-content tab-content-carousel">
        <div class="tab-pane p-0 fade show active" id="trendy-all-tab" role="tabpanel" aria-labelledby="trendy-all-link">
            <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                data-owl-options='{
                    "nav": false, 
                    "dots": true,
                    "margin": 20,
                    "loop": false,
                    "responsive": {
                        "0": {
                            "items":2
                        },
                        "480": {
                            "items":2
                        },
                        "768": {
                            "items":3
                        },
                        "992": {
                            "items":4
                        },
                        "1200": {
                            "items":4,
                            "nav": true
                        }
                    }
                }'>
                <% if(body?.product !==undefined && body?.product.length > 0) { body?.product.forEach((product, index)=> { %>
                    <div class="product product-2">
                        <figure class="product-media">
                            <a href="/product-details/<%= product._id %>">
                                <img src="<%= product.image[0] %>" alt="Product image" class="product-image">
                                <% if(product.backgroundImage.length > 0){ %>
                                    <img src="<%= product.backgroundImage[0] %>" alt="Product image" class="product-image-hover">
                                <% } %>
                            </a>

                            <div class="product-action product-action-transparent">
                                <a href="javascript:;" class="btn-product btn-cart"><span>add to cart</span></a>
                            </div>
                        </figure>

                        <div class="product-body">
                            <h3 class="product-title">
                                <a href="/product-details/<%= product._id %>"><%= product.name || "N/A" %></a>
                            </h3>
                            <div class="product-price">
                                <%= product.productPrice || 0 %>
                            </div>
                        </div>
                    </div>
                <% }); } else { %>
                    <div class="product product-2">No Product</div>
                <% } %>
            </div>
        </div>
    </div>
</div>

<div class="mb-5"></div>

<div class="video-banner video-banner-bg bg-image text-center" style="background-image: url(/images/demos/demo-5/bg-2.jpg)">
    <div class="container">
        <h3 class="video-banner-title h1 text-white"><span>New Collection</span><strong>Winter’19 <i>/</i> Spring’20</strong></h3><!-- End .video-banner-title -->
        <a href="https://www.youtube.com/watch?v=vBPgmASQ1A0" class="btn-video btn-iframe"><i class="icon-play"></i></a>
    </div>
</div>

<div class="container">
    <div class="cta cta-separator mb-5">
        <div class="row">
            <div class="col-lg-6">
                <div class="cta-wrapper cta-text text-center">
                    <h3 class="cta-title">Shop Social</h3>
                    <p class="cta-desc">Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. </p><!-- End .cta-desc -->
            
                    <div class="social-icons social-icons-colored justify-content-center">
                        <a href="javascript:;" class="social-icon social-facebook" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                        <a href="javascript:;" class="social-icon social-twitter" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                        <a href="javascript:;" class="social-icon social-instagram" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                        <a href="javascript:;" class="social-icon social-youtube" title="Youtube" target="_blank"><i class="icon-youtube"></i></a>
                        <a href="javascript:;" class="social-icon social-pinterest" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="cta-wrapper text-center">
                    <h3 class="cta-title">Get the Latest Deals</h3>
                    <p class="cta-desc">and <br>receive <span class="text-primary">$20 coupon</span> for first shopping</p><!-- End .cta-desc -->
            
                    <form action="#">
                        <div class="input-group">
                            <input type="email" class="form-control" placeholder="Enter your Email Address" aria-label="Email Adress" required>
                            <div class="input-group-append">
                                <button class="btn btn-new-primary btn-rounded" type="submit"><i class="icon-long-arrow-right"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</div><%-include('./users/footer.ejs')%>