<div class="row gy-4">
    <div class="col-xl-8">
        <% if(body?.cartDetails !== undefined && body?.cartDetails.length > 0) { body?.cartDetails.forEach((cart, index)=> { %>
            <input type="hidden" id="cart_celebrity_id_<%= index %>" value="<%= cart?.celebrity?._id %>" />
            <div class="cart-details">
                <div class="celec-cart-item">
                    <div class="celeb-cart-name">
                        <div class="cc-img">
                            <% if(cart?.celebrity?.image.length > 0){ %>
                                <img src="<%= process.env.ADMIN_URL %>/images/CelebrityImages/<%= cart?.celebrity?.image[0] %>" alt="Celebrity Images" />
                            <% } else { %>
                                <img src="/images/celeb/reveal.png" alt="" />
                            <% } %>
                        </div>
                        <div class="cc-name">
                            <%= cart?.celebrity?.name ? cart?.celebrity?.name : "-" %> <span>(<%= cart?.membershipList.length %> Items)</span>
                        </div>
                    </div>
                    <button class="gift-btn all_gift_send_btn d-none">
                        Gift All
                        <img src="/images/icon-gift.svg" alt="" />
                    </button>
                    <button class="del-btn remove_celebrity_btn" data-index="<%= index %>"></button>
                </div>
                <% if(cart?.membershipList !== undefined && cart?.membershipList.length > 0) { cart?.membershipList.forEach((membership, number)=> { %>
                    <%
                        let packageName = "";
                        if(membership?.membershipType === 3){ 
                            packageName = "Premium";
                        } else if(membership?.membershipType === 2) {
                            packageName = "Popular";
                        } else {
                            packageName = "Starter";
                        };
                    %>
                    <input type="hidden" id="cart_membership_id_<%= index %>_<%= number %>" value="<%= membership?._id %>" />
                    <div class="ticket-items">
                        <div class="cart-ticket-details">
                            <div class="packeg-details">
                                <div class="packeg-name">
                                    <h4>
                                        <%= packageName %>
                                    </h4>
                                </div>
                                <div class="p-price">
                                    <p id="total_price_pack_<%= index %>_<%= number %>">
                                        $<%= membership?.totalPriceByQuantity ? membership?.totalPriceByQuantity : 0 %>
                                    </p>
                                    <span class="membership_entries" id="total_entries_pack_<%= index %>_<%= number %>">
                                        <%= membership?.totalEntries ? membership?.totalEntries : 0 %> Entries
                                    </span>
                                </div>
                            </div>
                            <div class="ticket-action">
                                <div class="qty-change d-flex align-items-center gap-1">
                                    <button class="minus minus_qty_btn <%= membership?.totalQuantity > 1 ? '' : 'btn-disabled' %>" id="minus_qty_pack_btn_<%= index %>_<%= number %>" data-index="<%= index %>" data-member-index="<%= index %>_<%= number %>" data-current-price="<%= membership?.price %>" data-current-entries="<%= membership?.membershipEntries %>"></button>
                                    <input type="number" name="total_qty_pack_<%= index %>_<%= number %>" class="qty_input_btn btn-disabled" id="total_qty_pack_<%= index %>_<%= number %>" value="<%= membership?.totalQuantity ? membership?.totalQuantity : 0 %>" />
                                    <button class="plus plus_qty_btn" id="plus_qty_pack_btn_<%= index %>_<%= number %>" data-index="<%= index %>" data-member-index="<%= index %>_<%= number %>" data-current-price="<%= membership?.price %>" data-current-entries="<%= membership?.membershipEntries %>"></button>
                                </div>
                                <button class="gift-btn add_gift_membership_btn <%= membership?.isSendGift === 'true' ? 'd-none' : '' %>" id="add_gift_membership_btn_<%= index %>_<%= number %>" data-index="<%= index %>" data-member-index="<%= index %>_<%= number %>">
                                    Gift This
                                    <img src="/images/icon-gift.svg" alt="" />
                                </button>
                            </div>
                            <button class="del-btn remove_membership_btn" id="membership_remove_btn_<%= index %>_<%= number %>" data-index="<%= index %>" data-member-index="<%= index %>_<%= number %>" data-current-price="<%= membership?.price %>" data-membership-gift="<%= membership?.isSendGift %>"></button>
                        </div>
                        <div class="gift-message gift_membership_message_view <%= membership?.isSendGift === 'true' ? '' : 'd-none' %>" id="gift_membership_message_line_<%= index %>_<%= number %>" data-index="<%= index %>" data-member-index="<%= index %>_<%= number %>">
                            <div class="d-flex align-items-center gap-2">
                                <img src="/images/icon-gift.svg" alt="" />
                                <p>You will be purchasing this <strong><%= packageName %> pack </strong> for <strong><%= cart?.celebrity?.name ? cart?.celebrity?.name : "-" %></strong> as a gift.</p>
                            </div>
                            <button class="close-btn remove_gift_membership_message_btn" data-index="<%= index %>" data-member-index="<%= index %>_<%= number %>"></button>
                        </div>
                    </div>
                <% }) } %>
                <div class="gift-message all_gift_apply d-none">
                    <div class="d-flex align-items-center gap-2">
                        <img src="/images/icon-gift.svg" alt="" />
                        <p>You will be purchasing all the paid packs for <strong> <%= cart?.celebrity?.name ? cart?.celebrity?.name : "-" %></strong> as a gift.</p>
                    </div>
                    <button class="close-btn"></button>
                </div>
            </div>
        <% }) } %>
    </div>
    <div class="col-xl-4">
        <div class="total-sun-wrapper">
            <div class="free-note">
                <p>No purchase necessary to enter the sweepstakes.</p>
            </div>
            <div class="total-sum">
                <input type="hidden" id="total_qty_hide_count" value="<%= body?.totalQtyCount ? body?.totalQtyCount : 0 %>" />
                <input type="hidden" id="total_gift_hide_count" value="<%= body?.totalGiftCount ? body?.totalGiftCount : 0 %>" />
                <input type="hidden" id="total_sub_amount_hide_count" value="<%= body?.totalSubAmount ? body?.totalSubAmount : 0 %>" />
                <input type="hidden" id="total_amount_hide_count" value="<%= body?.totalAmount ? body?.totalAmount : 0 %>" />
                <ul class="total-breakup">
                    <li>
                        <span class="item-name">Celebrities</span>
                        <span class="qty"><%= body?.totalCelebrities ? body?.totalCelebrities : 0 %></span>
                    </li>
                    <li>
                        <span class="item-name">Qty</span>
                        <span class="qty" id="total_qty_count">6</span>
                    </li>
                    <li>
                        <span class="item-name">Gifts</span>
                        <span class="qty" id="total_gift_count">2</span>
                    </li>
                    <li>
                        <span class="item-name">Sub total</span>
                        <span class="qty" id="total_sub_amount_count">$23 USD</span>
                    </li>
                    <li class="total-sum-item mb-0">
                        <span class="fw-semibold">Total</span>
                        <span class="fw-bold" id="total_final_amount_count">$23 USD</span>
                    </li>
                </ul>
                <div class="pay-method">
                    <p class="fw-bold">Payment Method</p>
                    <div class="d-flex align-items-center gap-3">
                        <label class="radio-container">
                            <input type="radio" value="1" name="select_payment_method" checked />
                            <span class="checkmark"></span>
                            <img src="/images/strip.png" alt="" />
                        </label>
                        <!-- <label class="radio-container">
                            <input type="radio" value="2" name="select_payment_method" />
                            <span class="checkmark"></span>
                            <img src="/images/paypal.png" alt="" />
                        </label> -->
                    </div>
                </div>
                <div class="app-btn-wrapper">
                    <a href="javascript:;" class="app-btn w-100" id="review_checkout_btn">
                        <img src="/images/icon-lock.svg" alt="" />
                        Secure Checkout
                    </a>
                </div>
            </div>
        </div>
        <div class="total-sun-wrapper gift-note">
            <h3>Gift Purchase</h3>
            <p>A unique gift link will be generated after payment.</p>
        </div>
    </div>
</div>