<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Celebrity</th>
        <th>Entries</th>
        <th>Cost</th>
        <th>From</th>
        <th>Status</th>
        <th class="fixed-column">Date/Time</th>
      </tr>
    </thead>
    <tbody>
      <% if (body?.totalhistory !== undefined && body?.totalhistory > 0) { 
           body?.history.forEach((history, index) => { 
             let start_index = (parseInt(body?.param?.currentPage) - 1) * parseInt(body?.param?.itemPerPage) + index + 1; 
      %>
        <tr data-id="<%= history._id %>">
          <td>
            <p><%= history.celebrityId?.name || "----" %></p>
            <span class="gift-code"><%= history.giftCardCode || 'GIFT-ABCSD12345' %></span>
          </td>
          <td><%= history.membershipId?.membershipEntries || 0 %></td>
          <td>$<%= history.amount || 0 %></td>
          <td><%= history.fromEmail || 'Unknown' %></td>
          <td>
            <div class="badge <%= history.status === 1 ? 'success' : 'info' %>">
              <%= history.status === 2 ? 'Redeemed' : 'Pending' %>
            </div>
          </td>
          <td class="fixed-column dt">
            <%= new Date(history.updated_at).toLocaleDateString("en-GB") %> <br>
            <span><%= new Date(history.updated_at).toLocaleTimeString("en-US", { hour: '2-digit', minute: '2-digit' }) %></span>
          </td>
        </tr>
      <% }); 
        } else { %>
        <tr>
          <td colspan="6" class="text-center">No history found.</td>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>
