<%-include('./header.ejs')%>
<section class="gift-card-main">
  <div class="container">
    <div class="page-heading">
      <h1>Redeem Gift Card</h1>
    </div>
    <div class="row gy-4 mt-0">
      <div class="col-xxl-4">
        <div class="row gy-4">
          <div class="col-lg-6 col-xxl-12">
            <div class="td-card">
              <div class="title-wrapper mb-4">
                <h4 class="mb-0">Enter Gift Card Code</h4>
                <p>Enter the gift card code you received via email</p>
              </div>
              <div class="inp-group">
                <label for="">Gift Card Code</label>
                <div class="input-wrapper">
                  <input type="text" placeholder="XXXXXX" class="text-center" id="giftcard-code-input" />
                </div>
              </div>
              <div>
                <button class="app-btn spinner-btn w-100" id="redeem-giftcard">Redeem</button>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-xxl-12">
            <div class="td-card fill">
              <h4>Redemption Summary</h4>
              <div class="rede-static">
                <div class="rs-box-wrapper">
                  <div class="rs-box">
                    <p class="label">Cards Redeemed</p>
                    <span class="value"><%= body?.redeemCount %></span>
                  </div>
                  <hr />
                  <div class="rs-box">
                    <p class="label">Total Entries</p>
                    <span class="value"><%= body?.totalEntries || 0 %></span>
                  </div>
                </div>
                <hr />
                <div class="rs-box-wrapper">
                  <div class="rs-box">
                    <p class="label">Total Value</p>
                    <span class="value">$<%= body?.totalValue || 0 %></span>
                  </div>
                  <hr />
                  <div class="rs-box">
                    <p class="label">Celebrities</p>
                    <span class="value"><%= body?.totalCelebrity || 0%></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-xxl-12">
            <div class="td-card yellow">
              <h4>Enter Gift Card Code</h4>
              <ul class="info-content">
                <li>
                  Each free pack can only be claimed once per celebrity per
                  account
                </li>
                <li>
                  You can claim all available free packs for each celebrity
                </li>
                <li>Paid entries have no purchase limit</li>
                <li>All entries are final and non-refundable</li>
                <li>Winners will be contacted via registered email address</li>
                <li>
                  Gift entries will be sent to recipient's email with redemption
                  instructions
                </li>
                <li>Raffle entries are only valid for live raffles</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-xxl-8">
        <div class="td-container">
          <div class="td-card td-table">
            <h4>Gift Card Redemption History</h4>
            <div id="table-data"></div>
            <div class="custom-pagination mt-3 mt-lg-4">
              <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end">
                  <li class="page-item disabled">
                    <a class="page-link text" href="#" tabindex="-1">Prev</a>
                  </li>
                  <li class="page-item"><a class="page-link number active" href="#">1</a>
                  </li>
                  <li class="page-item"><a class="page-link number" href="#">2</a></li>
                  <li class="page-item"><a class="page-link number" href="#">3</a></li>
                  <li class="page-item"><a class="page-link number border-0" href="#">...</a></li>
                  <li class="page-item"><a class="page-link number" href="#">10</a></li>
                  <li class="page-item">
                    <a class="page-link text" href="#">Next</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%-include('./footer.ejs')%>