<div class="table-container">
 <table>
   <thead>
     <tr>
       <th>Device</th>
       <th>Location</th>
       <th>IP Address</th>
       <th>Status</th>
       <th>Date/Time</th>
       <th class="fixed-column text-center">Action</th>
     </tr>
   </thead>
   <tbody>
    <% if (sessions.length === 0) { %>
      <tr>
        <td colspan="6" class="text-center">No active sessions found.</td>
      </tr>
    <% } %>
    <% sessions.forEach(session => { %>
      <tr data-session-id="<%= session._id %>">
        <td>
          <% if(session.device === "web") {%>
          <span class="window"><%= `${session?.os} (${session?.browser})` %></span>
          <% } else { %> 
            <span class="window phone"><%= `${session?.deviceVendor} ${session?.deviceModal} (${session?.browser})` %></span>
            <% } %>
        </td>
        <td><%= session.location || "---" %></td>
        <td><%= session.ip %></td>
        <td><span class="badge <%= session.status === 1 ? 'success' : 'error' %>"><%= session.status === 1 ? 'Active' : 'Inactive' %></span></td>
        <td><%= new Date(session.created_at).toLocaleString() %></td>
        <td class="fixed-column session text-center">
          <button class="logout-session" data-bs-toggle="modal" data-bs-target="#logout-session-Modal">
            <img src="/images/icon-switch.svg" alt="">
          </button>
        </td>
      </tr>
    <% }); %>
   </tbody>
 </table>
</div>