<% function formatDate(date) { let d=new Date(date); let day=('0' + d.getDate()).slice(-2); let month=('0' +
    (d.getMonth() + 1)).slice(-2); let year=d.getFullYear(); return `${day}/${month}/${year}`; }; %>

    <div class="admin-table mt-30">
        <div class="table-responsive">
            <table>
                <thead>
                    <tr>
                        <!-- <th>#</th> -->
                        <th>User</th>
                        <!-- <th>Location</th> <th>Age</th> -->
                        <th>Account Status</th>
                        <th>2FA Status</th>
                        <th>Total Entries</th>
                        <th>Total Spent (USD)</th>
                        <th>Joined</th>
                         <th class="text-center">Celeb Limits</th>
                        <!-- <th>Datetime</th> -->
                         <th class="text-center ts">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(body?.totalUser !==undefined && body?.totalUser> 0) {
                        body?.userList.forEach((user, index)=> { let start_index =
                        (parseInt(body?.param?.currentPage) - 1) *
                        parseInt(body?.param?.itemPerPage) + index + 1; %>
                        <tr>
                            <!-- <td>
                                <%= start_index %>
                            </td> -->
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="user-avatar text-white">
                                        <div class="user-avatar text-white">
                                            <%= (user?.userName.charAt(0) + user?.userName.charAt(1)).toUpperCase() %>
                                        </div>
                                    </div>
                                    <span class="ms-2">
                                        <%= user?.userName %><br />
                                            <span class="text-gray">
                                                <%= user?.email %>
                                                    <% if (user?.status===1) { %>
                                                        <svg class="ms-1" width="15" height="16" viewBox="0 0 15 16"
                                                            fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <circle cx="7" cy="8" r="5" fill="white"></circle>
                                                            <path
                                                                d="M14.4523 6.66766L13.1079 5.32141V4.24766C13.1076 3.75174 12.9106 3.27619 12.5602 2.92529C12.2097 2.57439 11.7344 2.37677 11.2385 2.37578H10.166L8.82165 1.03016C8.11477 0.323281 6.88352 0.323281 6.17727 1.03016L4.8329 2.37578H3.7604C3.26443 2.37661 2.78905 2.57417 2.43858 2.92511C2.08811 3.27604 1.89119 3.75169 1.89102 4.24766V5.32141L0.546021 6.66766C0.196305 7.01933 0 7.49513 0 7.99109C0 8.48706 0.196305 8.96286 0.546021 9.31453L1.8904 10.6608V11.7345C1.89073 12.2305 2.0877 12.706 2.43814 13.0569C2.78857 13.4078 3.26385 13.6054 3.75977 13.6064H4.83227L6.17665 14.952C6.52977 15.3052 6.99977 15.5002 7.49915 15.5002C7.99852 15.5002 8.4679 15.3052 8.82102 14.952L10.1654 13.6064H11.2379C11.7339 13.6056 12.2092 13.408 12.5597 13.0571C12.9102 12.7061 13.1071 12.2305 13.1073 11.7345V10.6608L14.4523 9.31453C14.802 8.96286 14.9983 8.48706 14.9983 7.99109C14.9983 7.49513 14.802 7.01933 14.4523 6.66766ZM11.376 6.88203L8.21727 10.0039C7.83352 10.3852 7.3279 10.5764 6.8229 10.5764C6.3179 10.5764 5.81477 10.3858 5.42977 10.0058L3.8054 8.44391C3.74708 8.38613 3.70072 8.31742 3.66895 8.24172C3.63719 8.16602 3.62065 8.08481 3.62027 8.00272C3.61989 7.92062 3.63569 7.83926 3.66675 7.76327C3.69782 7.68728 3.74355 7.61816 3.80133 7.55984C3.85911 7.50153 3.92782 7.45517 4.00352 7.4234C4.07922 7.39164 4.16043 7.37509 4.24252 7.37472C4.32462 7.37434 4.40598 7.39014 4.48197 7.4212C4.55796 7.45227 4.62708 7.498 4.6854 7.55578L6.30915 9.11703C6.446 9.25215 6.63058 9.32791 6.8229 9.32791C7.01521 9.32791 7.19979 9.25215 7.33665 9.11703L10.496 5.99453C10.6138 5.87784 10.7731 5.81271 10.9389 5.81347C11.1047 5.81423 11.2634 5.88082 11.3801 5.99859C11.4968 6.11637 11.5619 6.27567 11.5611 6.44147C11.5604 6.60726 11.4938 6.76534 11.376 6.88203Z"
                                                                fill="#00994C"></path>
                                                        </svg>
                                                        <% } %>
                                            </span>
                                    </span>
                                </div>
                            </td>
                            <!-- <td><%= user?.country %></td>
          <td><%= user?.age %></td> -->
                            <td>
                                <% if (user?.status===2) { %>
                                    <span class="badge bg-success">Active</span>
                                    <% } else if (user?.status===3) { %>
                                        <span class="badge bg-danger">Suspended</span>
                                        <% } else if (user?.status===1) { %>
                                            <span class="badge bg-warning">Pending</span>
                                            <% } %>
                            </td>
                            <td>
                                <% if (user?.google2faStatus===1) { %>
                                    <span class="badge bg-success"> Enabled </span>
                                    <% } else { %>
                                        <span class="badge bg-danger"> Disabled </span>
                                        <% } %>
                            </td>
                            <td>
                                <%= user?.totalEntries %>
                            </td>
                            <td>$<%= user?.totalSpent %>
                            </td>
                            <!-- <td><%= user?.readable_created_at %></td> -->
                            <td>
                                <%= formatDate(user?.created_at); %>
                            </td>
                            <td class="text-center">
                                <div class="dropdown dropstart">
                                    <button class="btn btn-outline-primary dropdown-toggle fs-14" type="button"
                                        data-bs-toggle="dropdown" aria-expanded="true">
                                        View Limits
                                    </button>
                                    <div class="dropdown-menu drop-pop">
                                        <h5 class="text-black">Product Limits - John Smith</h5>
                                        <div class="pop-plan-wrapper mt-3">
                                            <div class="total-plan-wrapper blue">
                                                <p>Total Paid Plan</p>
                                                <span>23/33</span>
                                                <div class="progress" role="progressbar">
                                                    <div class="progress-bar bg-black" style="width: 90%"></div>
                                                </div>
                                            </div>
                                            <div class="total-plan-wrapper green">
                                                <p>Total Entries</p>
                                                <span>115/165</span>
                                                <div class="progress" role="progressbar">
                                                    <div class="progress-bar bg-black" style="width: 80%"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="pop-celeb-wrapper">
                                            <div class="pop-celeb-card">
                                                <div class="d-flex align-items-center justify-content-between">
                                                    <p class="fw-semibold fs-14">Taylor Swift</p>
                                                    <span class="badge bg-warning">High Usage</span>
                                                </div>
                                                <div
                                                    class="sp-width d-flex align-items-cente justify-content-between mt-2">
                                                    <span class="fs-12"> Paid Plans:</span>
                                                    <div class="progress w-50" role="progressbar">
                                                        <div class="progress-bar bg-black" style="width: 80%"></div>
                                                    </div>
                                                    <p class="fs-12 text-warning fw-medium">8/10</p>
                                                </div>
                                                <div
                                                    class="sp-width d-flex align-items-cente justify-content-between mt-2">
                                                    <span class="fs-12"> Entries:</span>
                                                    <div class="progress w-50" role="progressbar">
                                                        <div class="progress-bar bg-black" style="width: 50%"></div>
                                                    </div>
                                                    <p class="fs-12 text-warning fw-medium">35/50</p>
                                                </div>
                                            </div>
                                            <div class="pop-celeb-card">
                                                <div class="d-flex align-items-center justify-content-between">
                                                    <p class="fw-semibold fs-14">Darek</p>
                                                    <span class="badge bg-danger">Limit Reached</span>
                                                </div>
                                                <div
                                                    class="sp-width d-flex align-items-cente justify-content-between mt-2">
                                                    <span class="fs-12"> Paid Plans:</span>
                                                    <div class="progress w-50" role="progressbar">
                                                        <div class="progress-bar bg-black" style="width: 80%"></div>
                                                    </div>
                                                    <p class="fs-12 text-danger fw-medium">10/10</p>
                                                </div>
                                                <div
                                                    class="sp-width d-flex align-items-cente justify-content-between mt-2">
                                                    <span class="fs-12"> Entries:</span>
                                                    <div class="progress w-50" role="progressbar">
                                                        <div class="progress-bar bg-black" style="width: 50%"></div>
                                                    </div>
                                                    <p class="fs-12 text-danger fw-medium">35/50</p>
                                                </div>
                                            </div>
                                            <div class="pop-celeb-card">
                                                <div class="d-flex align-items-center justify-content-between">
                                                    <p class="fw-semibold fs-14">Taylor Swift</p>
                                                    <span class="badge bg-success">Normal</span>
                                                </div>
                                                <div
                                                    class="sp-width d-flex align-items-cente justify-content-between mt-2">
                                                    <span class="fs-12"> Paid Plans:</span>
                                                    <div class="progress w-50" role="progressbar">
                                                        <div class="progress-bar bg-black" style="width: 80%"></div>
                                                    </div>
                                                    <p class="fs-12 text-success fw-medium">8/10</p>
                                                </div>
                                                <div
                                                    class="sp-width d-flex align-items-cente justify-content-between mt-2">
                                                    <span class="fs-12"> Entries:</span>
                                                    <div class="progress w-50" role="progressbar">
                                                        <div class="progress-bar bg-black" style="width: 50%"></div>
                                                    </div>
                                                    <p class="fs-12 text-success fw-medium">35/50</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center action-width ts">
                                <div class="d-flex align-items-center justify-content-between gap-2">
                        
                                        <a href="/admin/user-details/<%= user._id %>" class="view-icon" type="button" data-bs-toggle="tooltip"
                                            data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="View Details">
                                    </a>
                                
                                    <div class="action-buttons d-flex align-items-center gap-2">
                                        <button type="button" class="btn reset-btn" data-bs-toggle="tooltip"
                                            data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Reset 2FA">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round"
                                                class="lucide lucide-shield-off h-4 w-4 mr-2">
                                                <path d="m2 2 20 20"></path>
                                                <path
                                                    d="M5 5a1 1 0 0 0-1 1v7c0 5 3.5 7.5 7.67 8.94a1 1 0 0 0 .67.01c2.35-.82 4.48-1.97 5.9-3.71">
                                                </path>
                                                <path
                                                    d="M9.309 3.652A12.252 12.252 0 0 0 11.24 2.28a1.17 1.17 0 0 1 1.52 0C14.51 3.81 17 5 19 5a1 1 0 0 1 1 1v7a9.784 9.784 0 0 1-.08 1.264">
                                                </path>
                                            </svg>
                                        </button>
                                     <div type="button" data-bs-toggle="tooltip"
                                            data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Suspend Account">
                                           <button class="btn suspend-btn" data-bs-toggle="modal"
                                            data-bs-target="#user-suspend-modal">
                                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M13.1666 12.0133C13.1666 13.6167 12.2786 14.5 10.6666 14.5H5.33323C5.09309 14.5022 4.85344 14.478 4.61856 14.428C4.55294 14.4154 4.49051 14.3897 4.43497 14.3526C4.37943 14.3154 4.33191 14.2675 4.2952 14.2116C4.2585 14.1558 4.23336 14.0931 4.22128 14.0274C4.20919 13.9617 4.21041 13.8942 4.22485 13.829C4.23929 13.7637 4.26666 13.702 4.30535 13.6475C4.34404 13.593 4.39326 13.5469 4.4501 13.5117C4.50694 13.4766 4.57025 13.4532 4.63628 13.4429C4.70232 13.4327 4.76974 13.4358 4.83456 13.452C4.99862 13.4856 5.16578 13.5017 5.33323 13.5H10.6666C11.7179 13.5 12.1666 13.0553 12.1666 12.0133C12.2179 11.3428 12.011 10.678 11.5883 10.155C11.1656 9.63204 10.5589 9.29039 9.89256 9.2C9.82608 9.19296 9.76169 9.17267 9.70319 9.14031C9.64469 9.10795 9.59327 9.06419 9.55198 9.01161C9.51069 8.95904 9.48036 8.89872 9.46278 8.83421C9.44521 8.76971 9.44075 8.70234 9.44967 8.63609C9.45858 8.56983 9.4807 8.50604 9.5147 8.44848C9.5487 8.39092 9.5939 8.34076 9.64762 8.30097C9.70135 8.26119 9.76251 8.23257 9.82748 8.21684C9.89245 8.2011 9.95992 8.19854 10.0259 8.20933C10.9338 8.32771 11.763 8.78624 12.346 9.49232C12.9289 10.1984 13.2222 11.0994 13.1666 12.0133ZM14.3532 2.35333L1.68656 15.02C1.59178 15.1083 1.46642 15.1564 1.33688 15.1541C1.20735 15.1518 1.08376 15.0994 0.99215 15.0077C0.900541 14.9161 0.848067 14.7926 0.845781 14.663C0.843496 14.5335 0.891578 14.4081 0.979898 14.3133L2.87456 12.418C2.85234 12.2841 2.83854 12.149 2.83323 12.0133C2.83323 10.2387 3.83723 8.16667 6.66656 8.16667H7.1259L8.1399 7.15333C8.09456 7.15333 8.0519 7.16667 8.00656 7.16667C7.44618 7.16667 6.89839 7.0005 6.43245 6.68917C5.96651 6.37783 5.60335 5.93533 5.38891 5.4176C5.17446 4.89988 5.11835 4.33019 5.22767 3.78058C5.337 3.23097 5.60685 2.72611 6.0031 2.32987C6.39934 1.93362 6.9042 1.66377 7.45381 1.55444C8.00342 1.44512 8.57311 1.50123 9.09083 1.71568C9.60856 1.93012 10.0511 2.29328 10.3624 2.75922C10.6737 3.22516 10.8399 3.77295 10.8399 4.33333C10.8399 4.37933 10.8286 4.422 10.8266 4.46667L13.6466 1.64667C13.7413 1.55835 13.8667 1.51027 13.9962 1.51255C14.1258 1.51484 14.2494 1.56731 14.341 1.65892C14.4326 1.75053 14.4851 1.87412 14.4873 2.00365C14.4896 2.13319 14.4416 2.25855 14.3532 2.35333ZM8.0059 6.16667C8.3685 6.16667 8.72295 6.05914 9.02444 5.8577C9.32593 5.65625 9.56092 5.36992 9.69968 5.03492C9.83844 4.69992 9.87474 4.3313 9.804 3.97567C9.73326 3.62004 9.55866 3.29337 9.30226 3.03697C9.04586 2.78058 8.7192 2.60597 8.36356 2.53523C8.00793 2.46449 7.63931 2.50079 7.30431 2.63956C6.96931 2.77832 6.68299 3.0133 6.48154 3.31479C6.28009 3.61628 6.17256 3.97074 6.17256 4.33333C6.17309 4.8194 6.36642 5.28541 6.71012 5.62911C7.05382 5.97281 7.51983 6.16614 8.0059 6.16667ZM3.8859 11.4073L6.08123 9.212C5.51919 9.27107 4.99447 9.52135 4.59486 9.92096C4.19524 10.3206 3.94497 10.8453 3.8859 11.4073Z"
                                                    fill="currentColor"></path>
                                            </svg>
                                        </button>
                                     </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <% }) } else { %>
                            <tr>
                                <td colspan="11" class="text-center">No users found</td>
                            </tr>
                            <% } %>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        const tooltipTriggerList = document.querySelectorAll(
            '[data-bs-toggle="tooltip"]'
        );
        const tooltipList = [...tooltipTriggerList].map(
            (el) => new bootstrap.Tooltip(el)
        );
    </script>